* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* ----------- colors ---------- */
  --primary-color: #1e3a8a;
  --background-color: #f9fafb;
  --accent-color: #6b7280;

  /* ------- fontSize --------- */
  --fontWeight: bold;
  --btnPadding: 2dvh 2dvw;
  --borderRadius: 10px;
  --fontSize : 1rem; 
}
